*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Arial", sans-serif;
}

.input{
    text-align: center;
    margin: 100px 0;

}

input[type="text"] {
height: 50px;
width: 600 px;
background: #e7e7e7;
font-family:'Courier New', Courier, monospace;
font-weight: bold;
font-size: 20px;
border: none;
border-radius: 2px;
padding: 10px 10px;

}
input[type="submit"] {
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    
    }
.display{
    text-align: center;
}

body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }