*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Arial", sans-serif;
}

.input{
    text-align: center;
    margin: 100px 0;

}

input[type="text"] {
height: 50px;
width: 600 px;
text-align: center;
background: #e7e7e7;
font-family:'Courier New', Courier, monospace;
font-weight: bold;
font-size: 20px;
border: none;
border-radius: 2px;
padding: 10px 10px;

}
input[type="submit"] {
    height: 50px;
    width: 100px;
    background: #5a1a1a;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;    
    }
    
  

.card-body{
    background-color: powderblue;
    color: blue;
    margin: 20px 20px 20px 20px;
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.card{
    height: 50px;
    width: 100px;
    background: #af1212;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    text-align: center;
    margin: auto;
  
 
  } 